body {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    font-size: 6em;
    font-family: 'Microsoft Yi Baiti','Britannic, Times New Roman';
    text-align: center;
    letter-spacing: 10px;
    background-image: url(img/kep2.png);
    color: white            ;
    text-shadow: 10px black;
    
}

nav {
    background-color: darkgray;
    padding: 7px;
    border-radius: 10px;
}
nav a:any-link {
    background-color: black;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
nav a:hover{
    background-color: gold;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
article{
    background-color: antiquewhite;
    margin: 10px;
    padding: 5px;
    float: left;
    width: 80%;
}
aside{
    background-color: antiquewhite;
    margin: 10px;
    padding: 5px;
   
}
section::after{
    display: table;
    content: "";
    clear: both;

}
aside{ width: 10%;}
aside img{
    width: 100%;
    height: 10%;

}

div.kep{
    float: left;
    width: 30%;
    background-color: darkslategray;
}
div.kep img {
    width: 100%;
    

}
#ak, #m4{
    vertical-align: middle;
    background-color: darkslategray;
    color: lavenderblush;
    margin: 5px;
}

div.kepszoveg{
    margin: 20px;
    float: left;
    width: 600px;
    
}

article.fegyver::after{
     display: table;
    content: "";
    clear: both;
}
article.fegyver{
    vertical-align: middle;
    background-color: darkslategray;
    color: lavenderblush;
    margin: 5px;
}

form{
    background-color: darkslategray;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    color: beige;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center}

form #user,#passw,#email{
    height: 30px;
}